.count h1 {
    color: white;
    margin-left: 13px;
}
#content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

#content .card-movies {
    display: flex;
    flex-direction: column;
    width: 17%;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    
}

#content .card-movies:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 10px 10px rgba(32, 32, 32, 0.5);
}

#content .card-movies a{
    text-decoration: none;
    color: #000;
    background-color: #ffd23f;
    border-radius: 5px;
    padding: 5px 0px;
    width: 100px;
    text-align: center;
    margin-top: 20px;
}

#content .card-movies span {
    margin-top: 10px;
}