.count h1 {
    color: white;
    margin-left: 13px;
}
#content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

#content .card-personajes {
    display: flex;
    flex-direction: column;
    width: 17%;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    
}

#content .card-personajes:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 10px 10px rgba(32, 32, 32, 0.5);
}

#content .card-personajes a{
    text-decoration: none;
    color: #000;
    background-color: #ffd23f;
    border-radius: 5px;
    padding: 5px 0px;
    width: 100px;
    text-align: center;
    margin-top: 20px;
}

#content .card-personajes span {
    margin-top: 10px;
}
.navigation-page {
    display: flex;
    justify-content: center;
    margin-top: 1px;
  }
  
.navigation-page button {
    font-size: 15px;
    color: #000;
    background-color: #ffc400;
    border: none;
    width: 160px;
    padding: 8px;
  }
  
.navigation-page #btnPrevious {
    margin-right: 20px;
    border-radius: 20px;
  }
  
.navigation-page #btnNext {
    margin-left: 20px;
    border-radius: 20px;
  }
  
.navigation-page #btnPrevious:hover {
  cursor: pointer;
  background-color: black;
  color: #ffc400;
  }
  
.navigation-page #btnNext:hover {
  cursor: pointer;
  background-color: black;
  color: #ffc400;
  }
  
.navigation-page button svg {
    margin: -4px 5px;
    font-size: 20px;
  }