@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
	background-image: url('https://raw.githubusercontent.com/miliii1/react-sw/master/yoda/src/img/starwarsfondo.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.content section {
    width: 50%;
    text-align: center;
    background-color: rgba(37, 36, 34, 0.63);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 160px;
}