footer {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    margin-top: 20px;
    font-family: 'Cairo', sans-serif;
    padding: 10px 0px;
    font-weight: 200;
}

footer span {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

footer .fuente-api a{
    display: flex;
    text-decoration: none;
    margin-top: 5px;
    border: solid 2px transparent;
    border-radius: 10px;
    padding: 5px;
    color: #FFF;
}

footer .fuente-api a svg {
    margin-right: 5px;
    font-size: 20px;
    margin-top: 13px;
}

footer .fuente-api a:hover {
    color: #ffd23f;
    transition: 0.5s;
}

footer .creador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .creador span {
    margin-bottom: 0px;
    color: white;
    font-weight: bold;

}

footer .creador img {
    width: 80px;
    border-radius: 50%;
}

footer .redes-sociales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
footer .redes-sociales a {
    text-decoration: none;
    color: #FFF;
    border: solid 2px rgba(0, 0, 0, 0.0);
    border-radius: 10px;
    padding: 8px;
    margin-right: 20px;
}

footer .redes-sociales a:hover {
    color: #ffc400;
    transition: 0.8s;
}

footer .redes-sociales a svg {
    font-size: 20px;
    margin-bottom: -5px;
}